@namespace Blazr.UI

<div class="bg-light p-2 m-2">

    <h3>Costly TimeStamp Component</h3>

    <div class="m-2">
        <button class="btn btn-primary" @onclick=Clicked>Update Timestamp</button>
    </div>

    <div>
        @(timeService?.Message ?? "No message set.")
    </div>

    <div class="mt-2 bg-dark text-white">
        Parameters Set at at @this.ParametersChangedTimeStamp
    </div>

</div>

@code {
    [CascadingParameter] private ITimeService? timeService { get; set; }

    private string ParametersChangedTimeStamp = "Not Set";

    protected override void OnParametersSet()
    {
        Debug.WriteLine("CostlyTimeStamp - Parameter Change");
        this.ParametersChangedTimeStamp = DateTime.Now.ToLongTimeString();
        base.OnParametersSet();
    }

    private void Clicked()
      => timeService?.UpdateTime();
}
